.InfoBox{
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .InfoBox{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
} */
